<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>FactGuard</title>
</head>
<body>
    <%- include('layout/nav-user', {name: 'greenpeace', role: 'user'}); %>
    <div class="container">

        <div class="form-post">
            <h2>Create Post</h2>
            <form action="">
                <div>
                    <input type="text" name="title" placeholder="title">
                </div>
                <div>
                    <input type="text" name="title" placeholder="image url">
                </div>
                <div>
                    <textarea name="content" cols="80" rows="3"></textarea>
                </div>
                <div>
                    <button type="submit">Post</button>
                </div>
            </form>
        </div>

        <div class="profile">
            <div class="title">
                <h2>Account</h2>
            </div>
            <div class="user-profile">
                <p>userId: </p>
                <p>username: greenpeace</p>
                <p>role: user</p>
            </div>

            <div class="title">
                <h2>Profile</h2>
            </div>
            <div>
                <p>Name: </p>
                <p>Birth: </p>
                <p>Hobby: </p>
                <p>Gender: </p>
                <p>Organization: </p>
                <p>Join FG: </p>
            </div>
        </div>
        
        <div class="post">
            <div class="card-post">
                <img src="https://www.greenpeace.org/static/planet4-indonesia-stateless/2022/11/8521332f-gp1t4huz-768x512.jpg">
                <h4>Food Estate</h4>
                <div><span>Release : 03-07-2023</span></div>
                <p>Pembukaan lahan yang luas untuk program food estate mengancam wilayah masyarakat adat dan keanekaragaman hayati penting di Indonesia. Ini mungkin mencakup hingga 3,2 juta hektar lahan di Papua. Program ini tidak akan meningkatkan ketahanan pangan tetapi malah akan memperburuk krisis iklim dan keanekaragaman hayati melalui eksploitasi hutan dan lahan gambut.</p>
            </div>
        </div>
    </div>
</body>
</html>